.ycea-green {
    color: green;
} 

.ycea-green-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(192, 255, 192);
    color: white;
    text-align: center;
  }