<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand ycea-green" href="#">YCEA-Green</a>
      <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main>
  <!-- Router outlet -->
  <!-- <router-outlet></router-outlet> -->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <h4>The website will be soon available. The technical team is working on it.</h4>
    <img alt="YCEA-Grean Logo" src="./assets/images/ycea.png">
  </div>
</main>

<footer class="ycea-green-footer">
    <div class="container">
      <span class="text-muted">Copyright @2019 - YCEA-Green</span>
    </div>
</footer>


