<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{  'header.about.us.vision.title' | translate }}</h5>
            <p class="card-text">{{ 'header.about.us.vision.line' | translate }}</p>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ 'header.about.us.vision.mission.title' | translate }}</h5>
            <div class="card-text">
                <ol>
                    <li>
                        {{ 'header.about.us.vision.mission.line.1' | translate }}
                    </li>
                    <li>
                        {{ 'header.about.us.vision.mission.line.2' | translate }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ 'header.about.us.vision.goal.title' | translate }}</h5>
            <div class="card-text">
                <ol>
                    <li>
                        {{ 'header.about.us.vision.goal.line.1' | translate }}
                    </li>
                    <li>
                        {{ 'header.about.us.vision.goal.line.2' | translate }}
                    </li>
                    <li>
                        {{ 'header.about.us.vision.goal.line.3' | translate }}
                    </li>
                    <li>
                        {{ 'header.about.us.vision.goal.line.4' | translate }}
                    </li>
                    <li>
                        {{ 'header.about.us.vision.goal.line.5' | translate }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <div class="card-text">
                {{ 'header.about.us.vision.conclusion.1' | translate }}
                {{ 'header.about.us.vision.conclusion.2' | translate }}
            </div>
        </div>
    </div>
    <br>


</div>