<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Vision</h5>
            <p class="card-text">Vivre une vie saine dans un environnement sain.</p>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mission</h5>
            <div class="card-text">
                <ol>
                    <li>
                        Travailler ensemble en équipe, sensibiliser, soutenir et responsabiliser notre
                        Peuple.
                    </li>
                    <!--
                    <li>
                        Assurer une croissance continue, développer et trouver de nouveaux
                        Marchés.
                    </li>
                    -->
                    <li>
                        Servir les communautés pour mieux leur permettre de promouvoir
                        Un bon espace de vie et le développement durable.
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Objectifs</h5>
            <div class="card-text">
                <ol>
                    <li>
                        Promouvoir un bon espace de vie pour les générations futures.
                    </li>
                    <li>
                        Protéger l’environnement ( entendu comme le reboisement, la lutte contre le changement climatique)
                    </li>
                    <li>
                        Sensibilisation de la population sur les défis 
                    </li>
                    <li>
                        Valoriser l’environnement sous l’angle de l’enseignement
                    </li>
                    <li>
                        Répandre la vision de l’association dans toute l’Afrique voire toute la planète
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <div class="card-text">
                Pour réaliser ses objectifs, YCEA-green passera par l'information et la formation des jeunes afin de leur permettre d'acquérir des nouvelles compétences en rapport avec l'environnement.
                Notre groupe passera aussi par les compétitions, les tournois et les concours pour emmener la jeunesse à une prise de conscience des défis environnementaux de ce siècle.
            </div>
        </div>
    </div>
    <br>


</div>